*{
    margin: 0;
    padding: 0;
}

a{
    margin: 0;
    padding: 0;
}

img{
    margin: 0;
    padding: 0;
}

body {
    margin: 0px 0px;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #3a6b39;
}


/* Estilos para el div "spinner" */
.spinner {
    width: 40px;
    height: 40px;
    font-size: 40px; /* Tamaño del icono */
    color: black; /* Color del icono */
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Ocultar el spinner por defecto */
    z-index: 999; /* Asegurarse de que esté en la parte superior */
    border-radius: 50%; /* Añade el borde circular */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* NAV GENERICO */
nav {
    display: flex;
    flex-direction: column;
    background-color: #3a6b39;
    color: white;   
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}


.redes a:hover {
    color: #82c024; 
}


.head{
    display: flex;
    justify-content: space-around;
    height: 100px;
    border-bottom: 1px solid white;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.redes span a{
    color: white;
    padding: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 100%;
    background-color: #82c024;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu-item:hover a {
    color: #3a6b39; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 0px;
}

.submenu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #82c024;
    border-top: 2px solid white;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 999;
}

.menu-item:hover .submenu {
    display: block;
}


.submenu li {
    padding: 10px 20px;
    text-align: center; 
}

.submenu li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.submenu li:hover{   
    background-color: #75aa26 ;
}

.menu-desplegable, .menu-mob, .menu-cierre{
    display: none;
}


/* NAV GENERICO FIN */

/* CARRUSEL */

section.home{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
}

.carousel-indicators li {
    list-style: none; /* Quita los marcadores de lista */
}

.carousel{
    width: 90%;
}


.contNoti{
    height: 100%;
    background-color: white;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

div.titulos{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #82c024;
    margin-bottom: 5px;
}


/* NAV GENERICO MOBILE */
@media screen and (max-width: 1050px) {

    /* Oculta las redes sociales en versión móvil */
    .redes, .menu {
        display: none;
    }

    /* Oculta el menú principal en versión móvil */
    .menu ul {
        display: none;
    }

    .head{
        border-bottom: 1px solid white;
        margin-bottom: 5px;
    }

    .menu-mob{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .menu-desplegable {
        display: block;
        height: 100%;
        margin-bottom: 10px;
        font-size: 20px;
        background-color: #3a6b39;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .menu-desplegable ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .menu-desplegable li {
        padding: 19px;
        text-align: center;
        border-bottom: 1px solid white;
    }
    
    .menu-desplegable a {
        text-decoration: none;
        color: white;
    }

    .menu-item:hover a {
        color: #82c024; 
    }

    .menu-desplegable .submenu {
        display: none;
        position: absolute;
        top: 100%;
        bottom: 100%;
        background-color: #82c024;
        border-top: 2px solid white;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .menu-item.parent:hover {
        margin-bottom: 100%; /* Ajusta el valor según sea necesario */
    }
    
    .menu-item:hover .submenu {
        transform: translateY(0); /* Muestra el submenú al desplazarlo hacia abajo */
        opacity: 1; /* Hace visible el submenú */
    }


    .submenu li {
        text-align: center; 
    }

    .submenu li a {
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .submenu li:hover{   
        display: none;
    }

    /* NAV GENERICO MOBILE FIN */


    /* Estilos para el div "spinner" */
    .spinner {
        width: 40px;
        height: 40px;
        font-size: 40px; /* Tamaño del icono */
        color: black; /* Color del icono */
        animation: spin 1s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Ocultar el spinner por defecto */
        z-index: 999; /* Asegurarse de que esté en la parte superior */
        border-radius: 50%; /* Añade el borde circular */
    }
    

    .carousel{
        width: 100%;
        margin-top: 5px;
    }

    section.home{
        display: flex;
        justify-content: center;
        margin-top: 0px;
    }

}
